{% extends "includes/master.html" %}
{% block content %}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<div class="container-fluid" id="proddiv">
        <div class="row py-3">
            <div class="col-sm-12"><h2>Move <b>Product</b></h2></div>
        </div>
        <form action="" method="post" onsubmit="init()">
        <div class="row">
            <div class="col-sm-2">
            <label for="sel1">Product</label>
            <select class="form-control" id="sel1" name="product_id">
                {% for li in product_list %}
                <option>{{li['product_id']}}</option>
                {% endfor %}
            </select>
            </div>
            <div class="col-sm-2">
            <label for="sel2">From Location</label>
            <select class="form-control" id="sel2" name="from_location">
                {% for li in location_list %}
                <option>{{li['location_id']}}</option>
                {%endfor%}
            </select>
            </div>
            <div class="col-sm-2">
            <label for="sel3">To Location</label>
            <select class="form-control" id="sel3" name="to_location">
                {% for li in location_list %}
                <option>{{li['location_id']}}</option>
                {%endfor%}
            </select>
            </div>
            <div class="col-sm-2">
            <label for="sel4">Quantity</label>
            <input class="form-control" type="text" name="qty" value="1">
            </div>
        
            <div class="col-sm-2 align-self-end"><button class="btn btn-primary" type="submit" name="action" value="new">Move Product</button></div>
        </div>
        </form>
</div>

<div id="prodmov">
</div>
<script>
$(document).ready(() => {
    $('#prodmov').load('http://127.0.0.1:5000/ProductMovement #proddiv');
});
</script>


{% endblock %}